extends layout

block content
    h3= title
    form(class='form-inline')
        .form-group
            label(for='keywords',) 关键词：
            input(id="keywords",class='form-control' placeholder="请输入关键词搜索")
        button(id="start", class='btn btn-primary') 开始
    div(id="msg")
        div(class='panel panel-primary')
            .panel-heading 请求结果
            .panel-body
                span.page
                span.show-img-result
                    | 总共有
                    i.total 0
                    | 个图片，已下载
                    i.num 0

        p 下载内容详情
        div.msg-detail
            ul.msg-detail-ul

    script(src="/javascripts/socket.io-client/dist/socket.io.js")
    script.
        var socket = io();
        socket.on('progress', function (data) {
            switch (data.type) {
                case 'detail':
                            let li = `<li>${data.msg}</li>`;
                    $('#msg ul').append(li);
                    $('#msg .msg-detail').scrollTop($('#msg ul').height());
                    break;
                case 'page':
                    $('#msg .page').text(`总共有${data.msg}个页面`)
                    break;
                case 'img':
                    data.total && $('.show-img-result .total').text(data.total);
                    data.num && $('.show-img-result .num').text(data.num);
                    break;
                case 'err':
                    alert(data.msg);
                    break;
                case 'done':
                    alert('执行完成');
                    $('#keywords').val('');
                    $('#start')[0].disabled = false;
                    break;
            }
        })
        $('#start').click(function (evt) {
            var keywords = $('#keywords').val();
            if(!keywords){
                alert('请输入关键词搜索')
            }else{
                this.disabled = true;
                $('ul.msg-detail').empty();
                socket.emit('start', keywords);
            }
            
        })